footer {
  padding: 60px 0;
  ul {
    display: inline-flex;
    flex-direction: column;
    a.nav-link {
      padding-left: 0;
    }
  }
}

.info {
  display: block;
  margin: 20px 0;
  font-size: $size-main-text-sm;
  color: $color-desc;
  width: 60%;
}

@media (min-width: 576px) {
  .info {
    width: 100%;
  }
}