header{
  width: 100%;
  padding: 30px 0;
  .navbar-logo{
    text-decoration: none;
  }
}
.navbar{
  padding: 0;
}
.navbar-nav{
  li{
    margin: 0 15px;
  }
}

a.nav-link{
  color: #635c73;
  font-size: 16px;
  font-weight: 700;
}
.header-icon{
  display: flex;
  a.nav-link {
    color: #fff;
    font-size: 48px;
    margin: 70px 50px 50px;
  }
  }

.navbar-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
  .logo-title{
    display: inline-block;
    text-transform: uppercase;
    color: #333;
    font-size: 24px;
    margin: 0;
    margin-left: 15px;
    span{
      color: #8d81ac;
    }
  }
@media (max-width: 768px) {
  .nav-item {
    border: 1px solid #3a3939;
    background-color: #333;
    a.nav-link {
      color: #fff;
      margin: 20px;
    }
    a.nav-link:hover{
      color: $color-special;
    }
  }
}
@media (min-width: 400px) {
  .button{
    font-size: 17px;
  }
}
@media (min-width: 850px) {
  header{
    .button{
      position: absolute;
      right: 0;
    }
  }
  li:last-child{
    margin-right: 175px;
  }
}
@media (min-width: 762px) and (max-width: 850px) {
  .navbar-nav {
    li {
    margin: 0 5px;
  }
}
}