$color-section-title-dark: #635c73;
$color-section-title-light: #d4d4d4;
$color-for-dark-bg: #d4d4d4;
$color-special: #635c73;
$main-color: #8d81ac;
$color-desc: #848e97;
$color-subtitle: #323232;
$bg-section: #f4f4f4;
$font-family-main: "Montserrat", sans-serif;
$font-family-special: "Lato", sans-serif;
$size-section-title: 48px;
$desc: 24px;
$size-main-text-lg: 16px;
$size-main-text-sm: 14px;
$new-and-popular: 13px;
$important-info: 30px;
$size-btn: 21px;
$color-btn: #d4d4d4;
$bg-btn: #8d81ac;
$standart-margin: 60px;


